//- preferences/index.jade

- var sideMenuParams = { id: "preferencesMenu", backLabel: "Dashboard", backHref: "../authenticated", header: "Preferences", listItemTemplate: "preferences", list: preferences }

main.preferences
  aside
    != partial("../_partials/nav/sideMenu", sideMenuParams)

  != partial("../_partials/preferences/networks")

  script.
    (function () {
      $(document).ready(function () {
    
        // Matches network and connectedness
        function networkConnected(network) {
          var connected = Cookies.get(network);
          if (connected == 1) {
            $('#preferencesDetail li#' + network).addClass('connected');
          } else {
            console.log(network + ' not Connected :(');
          }
        }
        
        for (network in networks) {
          networkConnected(networks[network]);
        }
        
        // Forwards to connecting page, adds cookie once connected to a network to mock connectedness
        $('#preferencesDetail button').click(function (e) {
          Cookies.set(e.target.getAttribute('data-network'), '1', { expires: 7 });
          window.location.href = "#{uri}/preferences/authenticating";
        });
      });
    })();