//- employment.jade

extends ./expanded.jade

block content
  for employer in leads[0].employment
    div.job
      figure(style="background-image:url(#{ employer.logo });")
      div
        span
          strong= employer.employer
          span= employer.title
        small
          strong= employer.dates