//- nav/NavHeader.jade

div.nav-header
  if backLabel && backHref
    a.back(href="#{ backHref }")= backLabel
  else
    div

  figure
    != partial("../brand/logoMark")

  figure
    if showMenu
      label(for="mt1").fa.fa-user-circle
      input(id="mt1" value="mt1" name="open" type="checkbox")
      nav
        ul
          li 
            a(href="#{uri}/preferences") Preferences
          li 
            a(href="#{uri}/") Sign Out

//- typeof backHref = string
//- typeof backLabel = string
//- typeof showMenu = bool