//- sideMenu.jade

nav(id="#{ id }").sideMenu
  header
    != partial("navHeader")
    h3= header
  ul.menu-list
    for listItem in list
      != partial("../"+listItemTemplate+"/listItem", { item: listItem })

// typeof id = string
// typeof backHref = string
// typeof backLabel = string
// typeof header = string
// typeof list = object
// typeof listItemTemplate = string