nav.sideMenu {
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  
  header { 
    background-color: map-get($colors,lightestgray);
    border-bottom: 1pt solid map-get($colors,lightgray);
    height: map-get($app-dimensions, detail-header-height);
    
    h3 {
      padding: 0 map-get($app-dimensions, base-padding);
    }
  }
  
  ul {
    list-style: none;
    margin:0px;
    padding:0px;
    background-color:white;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:calc(100% - #{map-get($app-dimensions, detail-header-height)});
    
    li {
      border-bottom: 1pt solid map-get($colors,lightgray);
      
      a {
        position:relative;
        display: block;
        padding: 12pt;
        text-decoration: none;
        color: map-get($colors, black);
        cursor:pointer;
        
        div { 
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      &.active { 
        background-color:map-get($colors,primary); 
        
        a, * { 
          color: map-get($colors, white); 
        }
      }
    }
  }
}