$colors: (
	primary: #46a0c7,
	secondary: #265c80,
  success: #66BB6A,
  warning: #FFD740,
  error: #EF5350,
  black: lighten(black, 20),
  gray: lighten(black, 70),
  lightgray: lighten(black, 92),
  lightestgray: lighten(black, 98),
  white: white,
);

$grid-config: (
  columns: 12,
  gutter-width: 4%
);

$header-height: 72px;

$base-padding: 12px;
$tight-padding: $base-padding/2;
$base-input-padding: $tight-padding;

$border-width: 1px;

$sans-font-family: "Nunito", sans-serif;
$display-font-family: "Nunito", Impact, Helvetica, Arial, sans-serif;
$base-font-size: 12px;
$small-font-size: $base-font-size*.75;
$large-font-size: $base-font-size*1.35;
$h6-font-size: $base-font-size*.875;
$h5-font-size: $base-font-size;
$h4-font-size: $base-font-size*1.35;
$h3-font-size: $base-font-size*1.5;
$h2-font-size: $base-font-size*2;
$h1-font-size: $base-font-size*3;