//- category/listItem.jade

li.category-list-item
  a(href="##{ item.url }")
    span(class= item.icon )
    span= item.label
    if item.url == "0"
      span.leadAmount= leads.length
    else
      span.leadAmount= leads.filter(lead => lead.tab == item.url).length

//- typeof item = object
//- typeof item.url = string
//- typeof item.icon = string
//- typeof item.label = string