main.preferences {
  display: flex;
  width:100%;
  position:fixed;
  justify-content: flex-start;
  align-content: stretch;
  top:44pt;
  height: calc(100% - 44pt);
  
  button, span.success {
      display:block;
      width:100%;
      border:0px;
      padding: 8pt 16pt;
      border-radius: 2pt;
      font-weight:700;
  }
  
  button {
    background-color:map-get($colors, primary);
    color: white;
    cursor:pointer;
    box-shadow: 0px 0px 5px rgba(black, .25);
    cursor:pointer;
    transition:all .2s ease-in-out;
    outline:none;
    
    &:hover {
      transform: scale(1.1);
    }
    
    &:active {
      transform: scale(.9);
    }
    }
  
  & > * {
    &#preferencesDetail { 
      background-color:whiteSmoke;
      width: 100%;
      display:flex;
      align-items:center;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
      
      li {
        width:calc(25% - 24pt);
        margin:12pt;
        padding:24pt;
        text-align:center;
        background-color:white;
        height:auto;
        position:relative;
        overflow:hidden;
        box-shadow: 0px 0px 5px rgba(black, .25);
        transition:transform .2s ease-in-out;
        
        &:first-child {
          width:75%;
          background:none;
          box-shadow: none;
        }
        
        .success { color: map-get($colors, success); }
        .fa.social {
          font-size: 44pt;
        }
        
        .connection-status {
          position:absolute;
          top:0px;
          right:0px;
          height:48pt;
          width:48pt;
          transform-origin: center center;
          transform:translate(50%, -50%) rotate(45deg);
          background-color:map-get($colors, success);
          box-shadow: 0px 0px 5px rgba(black, .25);
        }
        
        &:last-child .connection-status {
            background-color: map-get($colors, error)
          }
        &:last-child .fa.social {
          color:map-get($colors, lightgray);
        }
      }
    }
  }
  
  ul {
    margin:0px;
    padding:0px;
    list-style: none;
    overflow:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    
    &#preferencesMenu {
      border-right:1pt solid map-get($colors, lightgray);
      width: 200pt;
      li:first-child {
        background-color:map-get($colors, primary);
        a {color:white;}
      }
      a {
        display:block;
        padding:12pt;
        color: #666;
        font-size: 11pt;;
        text-decoration: none;
        cursor: pointer;
        
        
        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}