main
	ul
		li 
			span.fa.fa-facebook-square
			span Facebook Connect
		li
			span.fa.fa-twitter-square
			span Twitter	Connected
		li linkedin Connected
		li Dynamics Connected
		
		form(action="./authenticated")
			button 
				span.fa.fa-refresh
				span Analyze Networks