//- main.scss

//Reusables
@import '_scss/variables';
@import '_scss/functions';
@import '_scss/grid';

// Partials
@import '_partials/nav/sideMenu';
@import '_partials/nav/navHeader';

@import '_partials/category/listItem';

@import '_partials/lead/listItem';
@import '_partials/lead/detail';
@import '_partials/lead/detail.header';

@import '_partials/tile/tile';

@import '_partials/expanded/expanded';

@import '_partials/preferences/networks';

// Pages
@import '_styles';
@import 'authenticated/_styles';
@import 'preferences/_styles';

body{
  margin: 0;
  padding: 0;
  background: map-get($colors, white);
  color: map-get($colors, black);
  font: normal normal 300 #{map-fetch($font, items p)}/1.25 #{map-get($font, family)};
  overflow:hidden;
  height:100%;
  width:100%;
  position:fixed;
}

* {
	box-sizing:border-box;
}

main {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: flex-start;
  align-content: stretch;
  top: 44pt;
  height: calc(100% - 44pt);
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  
  @media only screen
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
    display:block;
    overflow: scroll;
  }
}

@each $i, $item in map-get($font, items) {
  #{$i} {
    font-size: $item;
  }
}