//Variables
@import '_shared/scss/variables';

// Grid System
@import '_shared/scss/grid';

// Partials
//@import '_shared/nav.main';

@import '_partials/nav/sideMenu';

@import '_partials/category/listItem';

@import '_partials/lead/listItem';
@import '_partials/lead/detail';
@import '_partials/lead/detail.header';

@import '_partials/tile/tile';



//@import '_shared/marquee';

@import '_shared/_new';

//@import '_partials/preferences/menu';
@import '_partials/preferences/networks';

// Pages
@import '_authenticated';
@import '_connect';

body{
  margin: 0;
  padding: 0;
  background: map-get($colors, white);
  color: map-get($colors, black);
  font: normal normal 300 #{$base-font-size}/1.25 $sans-font-family;
  overflow:hidden;
  height:100%;
  width:100%;
  position:fixed;
}

* {
	box-sizing:border-box;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	font-size: $base-font-size;
}

small {
	font-size: $small-font-size;
}