nav(style="display:none")
  header
    a(href="./authenticated") Dashboard
    h3 Preferences
  ul#leadCategories.menu-list
    for tab in tabs
      li
        a(href="/articles/#{ tab.url }" tab-cat-target="#{ tab.url }")
          span(class= tab.icon )
          span= tab.label
          span= tab.value