nav#preferencesMenu
  header
    a(href="./authenticated") Dashboard
    h3 Preferences
  ul.menu-list
    li: a: span Manage Networks
    li: a: span Manage Connections
    li: a: span Manage Notifications
    li: a: span Docs