//- _partials/lead/detail.scss

.leadDetail {
  overflow: hidden;
  overflow-y: scroll;
  & > div {
    display:none;
    
    &.visible {
      display:block;
    }

    section.tiles {
      position:absolute;
      height: calc(100% - #{map-get($app-dimensions, detail-header-height)});
      overflow:hidden;
      overflow-y: scroll;
      
      .show-tile-detail & {
        display:none;
      }
      
      & > div {
        display:flex;
        flex-wrap: wrap;
      }
    }
  }
}