//- _partials/lead/detail.scss

.leadDetail {
  & > div {
    display:none;
    &.visible {
      display:block;
    }
    section {
      position:relative; //
      height: 500px; //
      overflow:hidden; //
      overflow-y: scroll; //
      & > div { //
        display:flex;
        flex-wrap: wrap;
      }
    }
  }
}