//- connection.jade

extends ./tile.jade

block content
  div#connectionTile
    small Could introduce you to...
    h1= lead.sc
    small People
    hr
    small You share...
    h1= lead.sc_shared
    small Connections