//- employment.jade

extends ./tile.jade

block content
  div#employmentTile
    for employer in leads[0].employment
      div.job
        figure(style="background-image:url(#{ employer.logo });")
        div
          small
            strong= employer.employer
            em= employer.title
            span= employer.dates