//- personal.jade

extends ./tile.jade

block content
  div#personalTile
    for insight in leads[0].personal.pro
      small.personal
        span.fa.fa-check
        span= insight
    
    hr
    
    for insight in leads[0].personal.con
      small.personal
        span.fa.fa-close
        span= insight
