//- products.jade

extends ./tile.jade

block content
  div#productsTile
    for product in leads[0].product_suggestions
      strong(class="product #{ product.split(' ').join('_').toLowerCase() }")
        span= product
