//- _partials/tile/tile.scss

.leadDetail{ height:100%; }

.leadDetail > section { 
  overflow: none; 
  overflow-y: scroll;
  display:flex; 
  flex-wrap: wrap;
  height: calc(100% - 84pt);
  background-color:red;
}
  
.tile {
  color: map-get($colors, black);
  text-decoration: none;
  width: calc(33% - 24pt);
  margin:12pt;
  background: white;
  flex-shrink: 0;
  padding:12pt;
  display:flex;
  flex-direction:column;
  
  hr {
    width:100%;
    border:none;
    border-bottom: 1pt solid map-get($colors, lightgray);
    margin: map-get($app-dimensions, base-padding) 0;
  }
  
  h5 {
    margin:0px;
    margin-bottom :map-get($app-dimensions, base-padding);
    padding-bottom:map-get($app-dimensions, base-padding);
    color: map-get($colors, primary);
    text-align:center;
    border-bottom: 1pt solid map-get($colors, lightgray);
    flex-grow: 0; 
    
    + div {
      display:flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1; 
    }
  }
}

@import './personal';
@import './activity';
@import './connection';
@import './trends';
@import './products';
@import './employment';