//- tile.scss

.leadDetail{ height:100%; }

.leadDetail > section { 
  overflow: none; 
  overflow-y: scroll;
  display:flex; 
  flex-wrap: wrap;
  height: calc(100% - 84pt);
  background-color:red;
}
  
.tile {
  width: calc(33% - 24pt);
  margin:12pt;
  background: white;
  flex-shrink: 0;
  padding:12pt;
}