//- _partials/tile/trends.jade

extends ./tile.jade

block content
  div#trendsTile
    for trend in leads[0].st.slice(0, 4)
      small(class="trend #{ trend.type }")
        span(class="fa fa-#{ trend.type }")
        span= trend.label
