//- variables.scss

$colors: (
	primary: #46a0c7,
	secondary: #265c80,
  success: #66BB6A,
  warning: #FFD740,
  error: #EF5350,
  black: lighten(black, 20),
  gray: lighten(black, 70),
  lightgray: lighten(black, 92),
  lightestgray: lighten(black, 98),
  white: white
);

$grid-config: (
  columns: 12,
  gutter-width: 4%
);

$app-dimensions: (
  app-header-height: 44pt,
  side-menu-header-height: 72pt,
  aside-width: 320pt,
  list-figure-size: 24pt,
  detail-header-height: 88pt,
  detail-figure-size: 60pt,
  base-padding: 12pt,
  tight-padding: 6pt,
  border-width: 1pt
);

$font: (
  family: "'Nunito', sans-serif",
  items: (
    small: 11pt,
    p: 13pt,
    h1: 31pt,
    h2: 25pt,
    h3: 19pt,
    h4: 17pt,
    h5: 14pt,
    h6: 12pt
  ),
);

//TODO: switch all scss to use above maps and remove below variables

$header-height: 72px;

$base-padding: 12pt;

$tight-padding: $base-padding/2;
$base-input-padding: $tight-padding;

$border-width: 1px;

$sans-font-family: "Nunito", Helvetica, Arial, sans-serif;
$display-font-family: "Nunito", Helvetica, Arial, sans-serif;

$base-font-size: 13pt;
$small-font-size: 11pt;
$h6-font-size: 12pt;
$h5-font-size: 14pt;
$h4-font-size: 17pt;
$h3-font-size: 19pt;
$h2-font-size: 25pt;
$h1-font-size: 31pt;

/*
Large Title	Regular	  31pt  38pt	12pt
Title 1 Regular	      25pt	31pt	14pt
Title 2	Regular	      19pt	24pt	-26pt
Title 3	Regular	      17pt	22pt	-24pt
Headline	Semi-Bold	  14pt	19pt	-11pt
Body	Regular	        14pt  19pt	-11pt
Callout	Regular	      13pt  18pt	-6pt
Subhead	Regular	      12pt	16pt	0pt
Footnote	Regular	    12pt	16pt	0pt
Caption 1	Regular	    11pt	13pt	6pt
Caption 2	Regular	    11pt	13pt	6pt
*/